@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Digital Coffee is the Future.</p>
    <p>Please register to begin enjoying unlimited hypothetical coffees for one low price</p>
</div>
