@{
    ViewData["Title"] = "Register Now";
}
<h1>@ViewData["Title"]</h1>

<form asp-method="post" asp-action="Success">
    <p>Please enter your first name</p>
    <input type="text" name="FirstName" />
    <p>Please enter your last name</p>
    <input type="text" name="LastName" />
    <br />
    <p>Please enter an email address</p>
    <input type="email" name="Email" />
    <br />
    <p>Please choose a password</p>
    <input type="password" name="Password"/>

    <p><br /></p>
    <p>I would not not not not not not like to be a part of the forever club</p>
    <input type="checkbox" name="Forever" value="true" />
    <p><br /></p>
    <p>What is the most we could charge you every month?</p>
    <input type="radio" id="cheap" name="price" value="cheap">
    <label for="cheap">55.95 a month</label><br>
    <input type="radio" id="middle" name="price" value="middle">
    <label for="middle">$110.99 per month</label><br>
    <input type="radio" id="professional" name="price" value="professional" checked>
    <label for="senior">$599 per month. Unlimited virtual coffees. *Recommended</label>


    <!--This button submits the collected info -->
    <input type="submit" />
</form>
